In [361]:
import keras
import pandas as nd
from keras.datasets import boston_housing
from keras.models import Sequential
from keras.layers import Dense
import pandas as pd

dataset = pd.read_csv("data_0.csv", delimiter =";")
dataset.head()

                 Reason  Gender   Age  1obility  Distance  Participation
0  Hospital readmission       1  61.3         0      68.7              0
1  Hospital readmission       1  85.8         1      86.3              0
2  Hospital readmission       0  65.0         0      46.2              1
3  Hospital readmission       0  72.5         0      39.7              0
4  Hospital readmission       1  93.0         0      73.3              0

In [371]:
#complaints['Complaint Type'][:5]
#ds = dataset[['Gender','Age','1obility','Distance','Participation']]
param = dataset[['Gender','Age','1obility','Distance']]
targ = dataset['Participation']

In [372]:
x_train = param[0:250]
x_test = param[250:500]
y_train = targ[0:250]
y_test = targ[250:500]

In [385]:
# Среднее значение
mean = x_train.mean(axis=0)
# Стандартное отклонение
std = x_train.std(axis=0)
x_train -= mean
x_train /= std
mean = x_test.mean(axis=0)
# Стандартное отклонение
std = x_test.std(axis=0)
x_test -= mean
x_test /= std

In [386]:
x_train

       Gender       Age  1obility  Distance
0    0.951190 -0.321495 -1.014096  0.917077
1    0.951190  1.751959  0.982156  1.796728
2   -1.047109 -0.008362 -1.014096 -0.207478
3   -1.047109  0.626369 -1.014096 -0.532349
4    0.951190  2.361300 -1.014096  1.146986
..        ...       ...       ...       ...
245  0.951190  0.609443  0.982156  0.732150
246  0.951190  0.812557  0.982156  1.261940
247  0.951190 -0.837743  0.982156  0.947065
248  0.951190  0.482497 -1.014096  1.027033
249 -1.047109 -0.109918 -1.014096 -1.486971

[250 rows x 4 columns]

In [387]:
x_test

       Gender       Age  1obility  Distance
250  0.921110 -0.491333 -0.842306 -0.479390
251 -1.081304 -0.294210 -0.842306  2.367394
252 -1.081304 -2.205445  1.182468 -1.264349
253 -1.081304 -0.071376 -0.842306  0.692815
254  0.921110  0.408576 -0.842306  1.728960
..        ...       ...       ...       ...
495  0.921110  0.708545  1.182468  0.336967
496  0.921110 -0.405627  1.182468 -0.390428
497  0.921110 -0.834155 -0.842306 -0.625916
498  0.921110  1.822718 -0.842306 -1.300980
499  0.921110  0.622840  1.182468  0.263704

[250 rows x 4 columns]

In [388]:
y_train

0      0
1      0
2      1
3      0
4      0
      ..
245    0
246    0
247    0
248    0
249    0
Name: Participation, Length: 250, dtype: int64

In [389]:
y_test

250    1
251    0
252    1
253    0
254    0
      ..
495    1
496    1
497    1
498    0
499    1
Name: Participation, Length: 250, dtype: int64

In [310]:
y_test.head()

250    1
251    0
252    1
253    0
254    0
Name: Participation, dtype: int64

In [322]:
x_test.shape

(250,)

In [410]:
model = Sequential()
model.add(Dense(180, activation='relu', input_shape=(x_train.shape[1],)))
model.add(Dense(1)) 
model.compile(optimizer='adam', loss='mse', metrics=['mae'])

In [411]:
model.fit(x_train, y_train, epochs=70, batch_size=1, verbose=2)

Epoch 1/70
 - 1s - loss: 0.1772 - mae: 0.3378
Epoch 2/70
 - 1s - loss: 0.1358 - mae: 0.2935
Epoch 3/70
 - 1s - loss: 0.1224 - mae: 0.2681
Epoch 4/70
 - 1s - loss: 0.1154 - mae: 0.2674
Epoch 5/70
 - 1s - loss: 0.1146 - mae: 0.2573
Epoch 6/70
 - 1s - loss: 0.1077 - mae: 0.2554
Epoch 7/70
 - 1s - loss: 0.1049 - mae: 0.2536
Epoch 8/70
 - 1s - loss: 0.1006 - mae: 0.2412
Epoch 9/70
 - 1s - loss: 0.0998 - mae: 0.2404
Epoch 10/70
 - 1s - loss: 0.0920 - mae: 0.2237
Epoch 11/70
 - 1s - loss: 0.0910 - mae: 0.2290
Epoch 12/70
 - 1s - loss: 0.0860 - mae: 0.2102
Epoch 13/70
 - 1s - loss: 0.0885 - mae: 0.2268
Epoch 14/70
 - 1s - loss: 0.0853 - mae: 0.2137
Epoch 15/70
 - 1s - loss: 0.0851 - mae: 0.2096
Epoch 16/70
 - 1s - loss: 0.0834 - mae: 0.2082
Epoch 17/70
 - 1s - loss: 0.0838 - mae: 0.2173
Epoch 18/70
 - 1s - loss: 0.0836 - mae: 0.2120
Epoch 19/70
 - 1s - loss: 0.0789 - mae: 0.2023
Epoch 20/70
 - 1s - loss: 0.0780 - mae: 0.2017
Epoch 21/70
 - 1s - loss: 0.0774 - mae: 0.2004
Epoch 22/70
 - 1s - loss: 0.0792 - mae: 0.1994
Epoch 23/70
 - 1s - loss: 0.0792 - mae: 0.1951
Epoch 24/70
 - 1s - loss: 0.0767 - mae: 0.1914
Epoch 25/70
 - 1s - loss: 0.0759 - mae: 0.1987
Epoch 26/70
 - 1s - loss: 0.0734 - mae: 0.1861
Epoch 27/70
 - 1s - loss: 0.0750 - mae: 0.1867
Epoch 28/70
 - 1s - loss: 0.0715 - mae: 0.1846
Epoch 29/70
 - 1s - loss: 0.0710 - mae: 0.1865
Epoch 30/70
 - 1s - loss: 0.0733 - mae: 0.1833
Epoch 31/70
 - 1s - loss: 0.0703 - mae: 0.1823
Epoch 32/70
 - 1s - loss: 0.0694 - mae: 0.1786
Epoch 33/70
 - 1s - loss: 0.0675 - mae: 0.1700
Epoch 34/70
 - 1s - loss: 0.0700 - mae: 0.1882
Epoch 35/70
 - 1s - loss: 0.0710 - mae: 0.1786
Epoch 36/70
 - 1s - loss: 0.0683 - mae: 0.1730
Epoch 37/70
 - 1s - loss: 0.0688 - mae: 0.1734
Epoch 38/70
 - 1s - loss: 0.0658 - mae: 0.1742
Epoch 39/70
 - 1s - loss: 0.0656 - mae: 0.1762
Epoch 40/70
 - 1s - loss: 0.0676 - mae: 0.1777
Epoch 41/70
 - 1s - loss: 0.0669 - mae: 0.1711
Epoch 42/70
 - 1s - loss: 0.0661 - mae: 0.1694
Epoch 43/70
 - 1s - loss: 0.0646 - mae: 0.1721
Epoch 44/70
 - 1s - loss: 0.0674 - mae: 0.1773
Epoch 45/70
 - 1s - loss: 0.0627 - mae: 0.1627
Epoch 46/70
 - 1s - loss: 0.0631 - mae: 0.1642
Epoch 47/70
 - 1s - loss: 0.0619 - mae: 0.1752
Epoch 48/70
 - 1s - loss: 0.0618 - mae: 0.1578
Epoch 49/70
 - 1s - loss: 0.0650 - mae: 0.1685
Epoch 50/70
 - 1s - loss: 0.0642 - mae: 0.1720
Epoch 51/70
 - 1s - loss: 0.0623 - mae: 0.1692
Epoch 52/70
 - 1s - loss: 0.0629 - mae: 0.1611
Epoch 53/70
 - 1s - loss: 0.0634 - mae: 0.1717
Epoch 54/70
 - 1s - loss: 0.0617 - mae: 0.1641
Epoch 55/70
 - 1s - loss: 0.0631 - mae: 0.1652
Epoch 56/70
 - 1s - loss: 0.0609 - mae: 0.1674
Epoch 57/70
 - 1s - loss: 0.0647 - mae: 0.1677
Epoch 58/70
 - 1s - loss: 0.0620 - mae: 0.1629
Epoch 59/70
 - 1s - loss: 0.0588 - mae: 0.1533
Epoch 60/70
 - 1s - loss: 0.0597 - mae: 0.1655
Epoch 61/70
 - 1s - loss: 0.0609 - mae: 0.1618
Epoch 62/70
 - 1s - loss: 0.0617 - mae: 0.1616
Epoch 63/70
 - 1s - loss: 0.0606 - mae: 0.1631
Epoch 64/70
 - 1s - loss: 0.0602 - mae: 0.1666
Epoch 65/70
 - 1s - loss: 0.0586 - mae: 0.1527
Epoch 66/70
 - 1s - loss: 0.0592 - mae: 0.1583
Epoch 67/70
 - 1s - loss: 0.0585 - mae: 0.1589
Epoch 68/70
 - 1s - loss: 0.0553 - mae: 0.1503
Epoch 69/70
 - 1s - loss: 0.0598 - mae: 0.1611
Epoch 70/70
 - 1s - loss: 0.0559 - mae: 0.1532

In [412]:
mse, mae = model.evaluate(x_test, y_test, verbose=0)

In [414]:
print("Средняя абсолютная ошибка (х):", mae)

Средняя абсолютная ошибка (х): 0.23155421018600464

In [415]:
pred = model.predict(x_test)

In [416]:
print("Предсказанная стоимость:", pred[0], ", правильная стоимость:\n", y_test[0]

SyntaxError: unexpected EOF while parsing (<ipython-input-416-ed242ec39d50>, line 1)

In [424]:
y_test[56:60]

306    1
307    1
308    0
309    0
Name: Participation, dtype: int64

In [425]:
pred[56:60]

array([[ 0.8309275 ],
       [ 0.9273824 ],
       [-0.16445439],
       [ 0.08088794]], dtype=float32)

In [399]:
print(pred[0])
print(pred[1])
print(pred[2])
print(pred[3])
print(pred[4])

[0.8053435]
[-0.12498055]
[0.9390417]
[-0.00151011]
[-0.00311724]

In [93]:
print(type(pred),type(x_test))

<class 'numpy.ndarray'> <class 'pandas.core.frame.DataFrame'>

In [147]:
x_test.head()

       Gender       Age  1obility  Distance  Participation
250  0.964334 -0.338977 -1.097494 -0.466541       1.045376
251 -1.028623 -0.153383 -1.097494  2.239943      -0.948879
252 -1.028623 -1.952846  0.903819 -1.212814       1.045376
253 -1.028623  0.056420 -1.097494  0.647893      -0.948879
254  0.964334  0.508303 -1.097494  1.632974      -0.948879

In [102]:
pred[1][4]

0.1667861

In [101]:
pred[100][4]

0.16983457

In [99]:
pred[20][4]

0.4154752

In [121]:
print(pred[0][4])
print(pred[1][4])
print(pred[2][4])
print(pred[3][4])
print(pred[4][4])
print(pred[5][4])

0.17548436
0.1667861
0.44955176
0.20561111
0.17406732
0.47273374

In [173]:
print(pred[0][4], )
print(pred[1][4])
print(pred[2][4])
print(pred[3][4])
print(pred[4][4])

0.17548436
0.1667861
0.44955176
0.20561111
0.17406732

In [174]:
x_test['Participation'][:10]

250    1.045376
251   -0.948879
252    1.045376
253   -0.948879
254   -0.948879
255   -0.948879
256   -0.948879
257    1.045376
258   -0.948879
259   -0.948879
Name: Participation, dtype: float64

In [180]:
y_test['Participation'][:]

375    0
376    1
377    1
378    1
379    1
      ..
494    0
495    1
496    1
497    1
498    0
Name: Participation, Length: 124, dtype: int64

In [170]:
pred[101][4]

0.5721145

In [171]:
pred[121][4]

0.117399275