In [343]:
import keras
import pandas as nd
from keras.datasets import boston_housing
from keras.models import Sequential
from keras.layers import Dense
import pandas as pd

dataset = pd.read_csv("data_0.csv", delimiter =";")
dataset.head()

                 Reason  Gender   Age  1obility  Distance  Participation
0  Hospital readmission       1  61.3         0      68.7              0
1  Hospital readmission       1  85.8         1      86.3              0
2  Hospital readmission       0  65.0         0      46.2              1
3  Hospital readmission       0  72.5         0      39.7              0
4  Hospital readmission       1  93.0         0      73.3              0

In [344]:
#complaints['Complaint Type'][:5]
#ds = dataset[['Gender','Age','1obility','Distance','Participation']]
train = dataset[['Gender','Age','1obility','Distance']]
test = dataset['Participation']

In [354]:
x_train = train[0:250]
x_test = test[0:250]
y_train = train[250:500]
y_test = test[250:500]

In [355]:
# Среднее значение
mean = x_train.mean(axis=0)
# Стандартное отклонение
std = x_train.std(axis=0)
x_train -= mean
x_train /= std
#x_test -= mean
#x_test /= std

In [356]:
x_train

       Gender       Age  1obility  Distance
0    0.951190 -0.321495 -1.014096  0.917077
1    0.951190  1.751959  0.982156  1.796728
2   -1.047109 -0.008362 -1.014096 -0.207478
3   -1.047109  0.626369 -1.014096 -0.532349
4    0.951190  2.361300 -1.014096  1.146986
..        ...       ...       ...       ...
245  0.951190  0.609443  0.982156  0.732150
246  0.951190  0.812557  0.982156  1.261940
247  0.951190 -0.837743  0.982156  0.947065
248  0.951190  0.482497 -1.014096  1.027033
249 -1.047109 -0.109918 -1.014096 -1.486971

[250 rows x 4 columns]

In [359]:
x_test

0      0
1      0
2      1
3      0
4      0
      ..
245    0
246    0
247    0
248    0
249    0
Name: Participation, Length: 250, dtype: int64

In [349]:
y_train

     Gender   Age  1obility  Distance
250       1  61.0         0      40.3
251       0  63.3         0      94.7
252       0  41.0         1      25.3
253       0  65.9         0      62.7
254       1  71.5         0      82.5
..      ...   ...       ...       ...
495       1  75.0         1      55.9
496       1  62.0         1      42.0
497       1  57.0         0      37.5
498       1  88.0         0      24.6
499       1  74.0         1      54.5

[250 rows x 4 columns]

In [350]:
y_test

250    1
251    0
252    1
253    0
254    0
      ..
495    1
496    1
497    1
498    0
499    1
Name: Participation, Length: 250, dtype: int64

In [310]:
y_test.head()

250    1
251    0
252    1
253    0
254    0
Name: Participation, dtype: int64

In [322]:
x_test.shape

(250,)

In [335]:
model = Sequential()
model.add(Dense(128, activation='relu', input_shape=(x_train.shape[1],)))
model.add(Dense(1)) 
model.compile(optimizer='adam', loss='mse', metrics=['mae'])

In [334]:
model.fit(x_train, y_train, epochs=10, batch_size=1, verbose=2)

ValueError: Error when checking target: expected dense_58 to have shape (1,) but got array with shape (4,)

In [326]:
mse, mae = model.evaluate(x_test, y_test, verbose=0)

ValueError: Error when checking input: expected dense_51_input to have shape (4,) but got array with shape (1,)

In [327]:
print("Средняя абсолютная ошибка (х):", mae)

Средняя абсолютная ошибка (х): 0.5755053758621216

In [328]:
pred = model.predict(x_test)

ValueError: Error when checking input: expected dense_51_input to have shape (4,) but got array with shape (1,)

In [260]:
print("Предсказанная стоимость:", pred[0], ", правильная стоимость:\n", y_test[0]

SyntaxError: unexpected EOF while parsing (<ipython-input-260-ed242ec39d50>, line 1)

In [265]:
y_test.head()

375    0
376    1
377    1
378    1
379    1
Name: Participation, dtype: int64

In [266]:
print(pred[0])
print(pred[1])
print(pred[2])
print(pred[3])
print(pred[4])

[-0.0485645]
[-0.04005296]
[0.14881092]
[-0.4074789]
[-0.24755949]

In [93]:
print(type(pred),type(x_test))

<class 'numpy.ndarray'> <class 'pandas.core.frame.DataFrame'>

In [147]:
x_test.head()

       Gender       Age  1obility  Distance  Participation
250  0.964334 -0.338977 -1.097494 -0.466541       1.045376
251 -1.028623 -0.153383 -1.097494  2.239943      -0.948879
252 -1.028623 -1.952846  0.903819 -1.212814       1.045376
253 -1.028623  0.056420 -1.097494  0.647893      -0.948879
254  0.964334  0.508303 -1.097494  1.632974      -0.948879

In [102]:
pred[1][4]

0.1667861

In [101]:
pred[100][4]

0.16983457

In [99]:
pred[20][4]

0.4154752

In [121]:
print(pred[0][4])
print(pred[1][4])
print(pred[2][4])
print(pred[3][4])
print(pred[4][4])
print(pred[5][4])

0.17548436
0.1667861
0.44955176
0.20561111
0.17406732
0.47273374

In [173]:
print(pred[0][4], )
print(pred[1][4])
print(pred[2][4])
print(pred[3][4])
print(pred[4][4])

0.17548436
0.1667861
0.44955176
0.20561111
0.17406732

In [174]:
x_test['Participation'][:10]

250    1.045376
251   -0.948879
252    1.045376
253   -0.948879
254   -0.948879
255   -0.948879
256   -0.948879
257    1.045376
258   -0.948879
259   -0.948879
Name: Participation, dtype: float64

In [180]:
y_test['Participation'][:]

375    0
376    1
377    1
378    1
379    1
      ..
494    0
495    1
496    1
497    1
498    0
Name: Participation, Length: 124, dtype: int64

In [170]:
pred[101][4]

0.5721145

In [171]:
pred[121][4]

0.117399275