In [202]:
import keras
import pandas as nd
from keras.datasets import boston_housing
from keras.models import Sequential
from keras.layers import Dense
import pandas as pd

dataset = pd.read_csv("data_0.csv", delimiter =";")
dataset.head()

                 Reason  Gender   Age  1obility  Distance  Participation
0  Hospital readmission       1  61.3         0      68.7              0
1  Hospital readmission       1  85.8         1      86.3              0
2  Hospital readmission       0  65.0         0      46.2              1
3  Hospital readmission       0  72.5         0      39.7              0
4  Hospital readmission       1  93.0         0      73.3              0

In [203]:
#complaints['Complaint Type'][:5]
ds = dataset[['Gender','Age','1obility','Distance','Participation']]

In [204]:
ds.head()

   Gender   Age  1obility  Distance  Participation
0       1  61.3         0      68.7              0
1       1  85.8         1      86.3              0
2       0  65.0         0      46.2              1
3       0  72.5         0      39.7              0
4       1  93.0         0      73.3              0

In [205]:
x_train = ds[0:124]
y_train = ds[125:249]
x_test = ds[250:374]
y_test = ds[375:499]

In [207]:
mean = x_train.mean(axis=0)
# Стандартное отклонение
std = x_train.std(axis=0)
x_train -= mean
x_train /= std
x_test -= mean
x_test /= std

In [208]:
x_train.head()

     Gender       Age  1obility  Distance  Participation
0  0.964334 -0.314769 -1.097494  0.946403      -0.948879
1  0.964334  1.662219  0.903819  1.822030      -0.948879
2 -1.028623 -0.016204 -1.097494 -0.173007       1.045376
3 -1.028623  0.588997 -1.097494 -0.496392      -0.948879
4  0.964334  2.243212 -1.097494  1.175260      -0.948879

In [235]:
x_train.shape

(124, 5)

In [234]:
model = Sequential()
model.add(Dense(128, activation='relu', input_shape=(x_train.shape[1],)))
model.add(Dense(5)) 
model.compile(optimizer='adam', loss='mse', metrics=['mae'])

In [228]:
model.fit(x_train, y_train, epochs=15, batch_size=1, verbose=2)

ValueError: Error when checking target: expected dense_28 to have shape (1,) but got array with shape (5,)

In [79]:
mse, mae = model.evaluate(x_test, y_test, verbose=0)

In [81]:
print("Средняя абсолютная ошибка (х):", mae)

Средняя абсолютная ошибка (х): 5.285309791564941

In [122]:
pred = model.predict(x_test)

In [195]:
print("Предсказанная стоимость:", pred[0][4], ", правильная стоимость:\n", y_test['Participation'][:1])

Предсказанная стоимость: 0.17548436 , правильная стоимость:
 375    0
Name: Participation, dtype: int64

In [199]:
y_test['Participation'][:10]

375    0
376    1
377    1
378    1
379    1
380    0
381    1
382    0
383    1
384    1
Name: Participation, dtype: int64

In [200]:
print(pred[0][4])
print(pred[1][4])
print(pred[2][4])
print(pred[3][4])
print(pred[4][4])
print(pred[5][4])

0.17548436
0.1667861
0.44955176
0.20561111
0.17406732
0.47273374

In [93]:
print(type(pred),type(x_test))

<class 'numpy.ndarray'> <class 'pandas.core.frame.DataFrame'>

In [147]:
x_test.head()

       Gender       Age  1obility  Distance  Participation
250  0.964334 -0.338977 -1.097494 -0.466541       1.045376
251 -1.028623 -0.153383 -1.097494  2.239943      -0.948879
252 -1.028623 -1.952846  0.903819 -1.212814       1.045376
253 -1.028623  0.056420 -1.097494  0.647893      -0.948879
254  0.964334  0.508303 -1.097494  1.632974      -0.948879

In [102]:
pred[1][4]

0.1667861

In [101]:
pred[100][4]

0.16983457

In [99]:
pred[20][4]

0.4154752

In [121]:
print(pred[0][4])
print(pred[1][4])
print(pred[2][4])
print(pred[3][4])
print(pred[4][4])
print(pred[5][4])

0.17548436
0.1667861
0.44955176
0.20561111
0.17406732
0.47273374

In [173]:
print(pred[0][4], )
print(pred[1][4])
print(pred[2][4])
print(pred[3][4])
print(pred[4][4])

0.17548436
0.1667861
0.44955176
0.20561111
0.17406732

In [174]:
x_test['Participation'][:10]

250    1.045376
251   -0.948879
252    1.045376
253   -0.948879
254   -0.948879
255   -0.948879
256   -0.948879
257    1.045376
258   -0.948879
259   -0.948879
Name: Participation, dtype: float64

In [180]:
y_test['Participation'][:]

375    0
376    1
377    1
378    1
379    1
      ..
494    0
495    1
496    1
497    1
498    0
Name: Participation, Length: 124, dtype: int64

In [170]:
pred[101][4]

0.5721145

In [171]:
pred[121][4]

0.117399275